.top_content{
    margin: 5px;
    float: left;
}
.cross{
    text-align: right;
    margin: 5px;
    /* float: right;
} */
}

.site_text{
    font-size: 20px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-weight: 700;
}

.site_text:hover{
    cursor: pointer;
    background-color: red;
}

.site_text3{
     font-size: 20px;
    padding: 5px;
    background-color: #d84148!important;
   color: white;
    font-weight: 700;

}

.site_text3:hover{
    cursor: pointer;
    background-color:black;
}

.nav-item{
    font-size: 12px;
    padding: 8px;
}

.nav-item:hover{
    color:#d84148!important;
}

.slider_btn{
        padding: 15px 41px; margin: 12px 10px 0px 0px;
        color: white;
        background-color: #3b3b79;
        border: 1px solid #3b3b79;
        border-radius: 2px;
        font: !important;
}

.slider_btn:hover{
    color:#3b3b79 ;
    background-color: white;
}


.slider_btn3:hover{
    color:#3b3b79 ;
    background-color: white;
}

p{
    font: 25px sans-serif;
    margin: 20px 0px 32px;
    padding: 5px;
}

.service-active-box1{
    padding: 44px 10px 5px 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    color: #fff;
}

.service-active-box{
    padding: 44px 10px 5px 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    color:#3b3b79;
}


.inner-icon{
    height: ;
    /* border: 1px solid; */
    text-align: center;
    font-size: 50px;
}

h2{
    font: 24px sans-serif;
    margin-top: 20px;
    margin-bottom: 8px;
}

.inner-text{
    text-align: center;
    font-size: 15px;
}

.inner_p{
    font-size: 15px;
    line-height: 26px;
}